

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*--importante--*/

}


body{

  font-family: "Madimi One", sans-serif;
  margin: 0;
  padding: 0;
  /*--background-color: #262922;--*/
  background-image: url("images/playa.jpg");
  
  }


 
header{
    
    width: 100%;
    background-size: cover;
    background-position: center;
   
}










/* HEADER SE MUEVE TODO EN FIJO PERO CAMBIA COLOR  */

nav.nav{

    position: fixed;
    width: 100%;
     /* background-color: rgb(16, 22, 11);*/
     background: linear-gradient(to right, rgba(15, 12, 41, .7), rgba(48, 43, 99, .7), rgba(158, 39, 128, 0.7));
     backdrop-filter: sepia(80%);

    display: flex;
    flex-direction :row;
   
    align-items: center;
    justify-content:space-between;
    padding: 1px;
    transition: all 0-5s ease;
}

nav.active{
    /* background-color:  rgb(253, 253, 253);*/
   
    backdrop-filter: blur(30px);
   
    padding: 0px;

    background: linear-gradient(to right, rgba(15, 12, 41, .7), rgba(48, 43, 99, .7), rgb(44 44 187 / 70%));
    z-index: 100; /*importante para sobreponer texto e imagenes la barra de menu predomine */
}


/*


nav.active i{
    
}
*/



nav.active  ul.segunda a{
    color: #b3d8fc;
}

nav.active .checkbtn {
    color:#b3d8fc;
}


.scrol{
    height: 100px;
}



















header nav ul.segunda{
    display: flex;
    flex-direction :row; 
    justify-content: space-around;
    gap: 1em;
    

}


header nav {

    
    display: flex;
    flex-direction :row; 
    justify-content:center;

    flex-direction: row-reverse;
    gap: 1em;
    align-items: center;

}

header nav ul.segunda li {
list-style: none;


}

a {
    text-decoration: none;
}

header nav ul.segunda li a{
    color: beige;
    text-decoration: none;
    font-weight: bold;
    transition: all;
}


header nav ul.segunda li a:hover{
    padding: 5px 10px;
    background-color: beige;
    color: #262922;
    border-radius: 15px;
}


header  a i{ 
    font-size: 2em ;
    padding: 10px ;
}










#imagenmunstag{
width: 400px;
position: relative;
top:60px;
right: 80px;
}

/*ANIMACION PARA EL CARRO MORADO
 */

.acerca-imagen{
    float: left;
    animation: movimiento 2.5s linear infinite;
}


.acerca-imagen{
    display: block;
}

@keyframes movimiento{
    0%{
        transform: translateX(0);
    }

    50%{
        transform: translatex(40px);
    }

    100%{
        transform: translateX(0);

    }


}






main section.seccion-1{
    /*background-color:rgba(233, 255, 198, 0.849); */
    padding: 20px;
    
}

main section div.arreglocentro{
    margin: 1px;  
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
}







div.acerca-de{

    color: #f6f7f8;
    font-size: 23px;
    width: 500px;
    height: 400px;
    position: relative;
    left: 150px;
    top: 50px;
    
    
}


div.acerca-de #subti {

    font-size: 45px;

       
}

div.acerca-de .animadotext span{
 position: relative;

}

div.acerca-de .animadotext span::before{
    content: "Mustang 2020" ;
    color: rgba(255, 0, 200, 0.856);
    animation: words 20s infinite;
   
   }

   div.acerca-de .animadotext span::after{
    content: "" ;
    position: absolute;
    width: calc(100%+8px);
    height: 100%;
    background-color: rgba(6, 5, 12, 0.7);
    border-left: 2px solid  rgba(252, 109, 221, 0.856) ;
    right: -8px;
   animation: cursor .8s infinite, typing 20s  steps(14) infinite;
   }

   @keyframes cursor{
    to{
        border-left: 2px solid  rgba(6, 5, 12, 0.7);
    }
   }


   @keyframes words{

    0%,20%{
        content: "Ferrari";
    }
    21%,40%{
        content: "Jester";
    }
    41%,60%{
        content: "Lamborgini";
        
    }
    61%,80%{
        content: "Sulta Rx";
    }
    81%,100%{
        content: "GT razor";
    }
   }


@keyframes typing{

    10%,15%,30%,35%,50%,55%,70%,90%,95%{
        width: 0;
    }

    5%,20%,30%,40%,60%,80%,85%{
        width: calc(100% + 8px);
    }
}



main section.seccion-2{
   /* background-image: url("images/playa.jpeg");*/
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:  60px ;
    padding: 40px ;
    
}


div.sector2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#bosqueauto{
    width: 80%;
}














main section.seccion-3{
    background-color:rgba(204, 158, 216, 0.658);
    background: linear-gradient(to right, rgb(3, 3, 3), rgb(10, 7, 36), rgba(3, 0, 7, 0.589));
    padding: 80px;
}
main section.seccion-3 p.parrafo{
    color:#fafafa;
    font-size: 20px;
    padding: 0px;
    line-height: 50px;
    background-color :rgba(204, 158, 216, 0.658);
    position: relative;
    align-items: center;  
    text-align: center;  
}

main section div.arreglocentro-seccion-3{
    margin: 0px;  
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1px;
    min-height: 50vh;
    
}


/*object-fit */
.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
     overflow: hidden;
    transition: .5s; 
}


.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 10px 10px #000;
}


.card .front img {
     position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card .front h3 {
    position: absolute;
     bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;

    
}



.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(0, 0, 0);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #ad0a7c;
}


.card .back .link {
    border-top: solid 1px #000000;
    height: 50px;
    line-height: 50px;
}


.card .back .link a {
    color: #ff00bf;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}



.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}






/*

#llantaid{
    width: 240px;
    height:255px ;
}

.ss1parrafo{
    
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 0.5px 1px 105px 12px;
    width: 225px;
    height: 130px;
    position: relative;
    top: 10px;
} 

div p.clleermas {
    color: #73AD21;
}


#mecaid{
    width: 260px;
    height:255px ;
    
}

*/
/*
    .ss2parrafo{
        
        border-radius: 25px;
        border: 2px solid #73AD21;
        padding: 0.5px 1px 105px 12px;
        width: 260px;
        height: 130px;
        position: relative;
        top: 10px;
       
    }
*/


/*
.ss3parrafo{
    
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 0.5px 1px 105px 12px;
    width: 220px;
    height: 130px;
    position: relative;
    top: 10px;
}



div.greeting{
    margin: 10px;  
    display: flex;
    justify-content:space-around;
    border-radius: 25px;
    border: 2px solid #262922;
}

*/











/*  estrellas y comentarios*/

/* animacion de estrellas*/
.seccion-5{
    background-color: #ffffff  ;
    background: radial-gradient(ellipse at bottom, rgb(27, 23, 27) 0%, #090a0f 100%);
    
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    display: flex;
    justify-content:center;
}

  
.night {
    background-color: none;
    position: relative;
    width: 100%;    
    height: 100%;
    transform: rotateZ(45deg);
    left: -100px  ;
    top: -70px;
  }
  

    
  .shooting_star {
    position: absolute;
    right: 100%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699bff);
    -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
            animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
  }

  .shooting_star::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
            animation: shining 3000ms ease-in-out infinite;
  }

  .shooting_star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
            animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
  }

  .shooting_star:nth-child(1) {
    top: calc(50% - -138px);
    left: calc(50% - 231px);
    -webkit-animation-delay: 5538ms;
            animation-delay: 5538ms;

  }
  .shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 5538ms;
            animation-delay: 5538ms;
  }

  .shooting_star:nth-child(2) {
    top: calc(50% - -22px);
    left: calc(50% - 71px);
    -webkit-animation-delay: 5470ms;
            animation-delay: 5470ms;
  }
  .shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 5470ms;
            animation-delay: 5470ms;
  }

  .shooting_star:nth-child(3) {
    top: calc(50% - 82px);
    left: calc(50% - 285px);
    -webkit-animation-delay: 3693ms;
            animation-delay: 3693ms;
  }
  .shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 3693ms;
            animation-delay: 3693ms;
  }
  .shooting_star:nth-child(4) {
    top: calc(50% - -153px);
    left: calc(50% - 290px);
    -webkit-animation-delay: 3821ms;
            animation-delay: 3821ms;
  }
  .shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
    -webkit-animation-delay: 3821ms;
            animation-delay: 3821ms;
  }
  .shooting_star:nth-child(5) {
    top: calc(50% - -26px);
    left: calc(50% - 113px);
    -webkit-animation-delay: 6328ms;
            animation-delay: 6328ms;
  }
  .shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
    -webkit-animation-delay: 6328ms;
            animation-delay: 6328ms;
  }
  .shooting_star:nth-child(6) {
    top: calc(50% - 76px);
    left: calc(50% - 231px);
    -webkit-animation-delay: 2511ms;
            animation-delay: 2511ms;
  }
  .shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
    -webkit-animation-delay: 2511ms;
            animation-delay: 2511ms;
  }
  .shooting_star:nth-child(7) {
    top: calc(50% - -66px);
    left: calc(50% - 164px);
    -webkit-animation-delay: 559ms;
            animation-delay: 559ms;
  }
  .shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
    -webkit-animation-delay: 559ms;
            animation-delay: 559ms;
  }
  .shooting_star:nth-child(8) {
    top: calc(50% - -11px);
    left: calc(50% - 121px);
    -webkit-animation-delay: 6325ms;
            animation-delay: 6325ms;
  }
  .shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
    -webkit-animation-delay: 6325ms;
            animation-delay: 6325ms;
  }
  .shooting_star:nth-child(9) {
    top: calc(50% - 116px);
    left: calc(50% - 229px);
    -webkit-animation-delay: 6843ms;
            animation-delay: 6843ms;
  }
  .shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
    -webkit-animation-delay: 6843ms;
            animation-delay: 6843ms;
  }
  .shooting_star:nth-child(10) {
    top: calc(50% - 90px);
    left: calc(50% - 263px);
    -webkit-animation-delay: 2744ms;
            animation-delay: 2744ms;
  }
  .shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
    -webkit-animation-delay: 2744ms;
            animation-delay: 2744ms;
  }
  .shooting_star:nth-child(11) {
    top: calc(50% - -155px);
    left: calc(50% - 211px);
    -webkit-animation-delay: 7275ms;
            animation-delay: 7275ms;
  }
  .shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
    -webkit-animation-delay: 7275ms;
            animation-delay: 7275ms;
  }
  .shooting_star:nth-child(12) {
    top: calc(50% - 162px);
    left: calc(50% - 96px);
    -webkit-animation-delay: 9935ms;
            animation-delay: 9935ms;
  }
  .shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
    -webkit-animation-delay: 9935ms;
            animation-delay: 9935ms;
  }
  .shooting_star:nth-child(13) {
    top: calc(50% - -145px);
    left: calc(50% - 5px);
    -webkit-animation-delay: 7920ms;
            animation-delay: 7920ms;
  }
  .shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
    -webkit-animation-delay: 7920ms;
            animation-delay: 7920ms;
  }
  .shooting_star:nth-child(14) {
    top: calc(50% - -137px);
    left: calc(50% - 263px);
    -webkit-animation-delay: 6097ms;
            animation-delay: 6097ms;
  }
  .shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
    -webkit-animation-delay: 6097ms;
            animation-delay: 6097ms;
  }
  .shooting_star:nth-child(15) {
    top: calc(50% - -91px);
    left: calc(50% - 124px);
    -webkit-animation-delay: 9104ms;
            animation-delay: 9104ms;
  }
  .shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
    -webkit-animation-delay: 9104ms;
            animation-delay: 9104ms;
  }
  .shooting_star:nth-child(16) {
    top: calc(50% - 70px);
    left: calc(50% - 298px);
    -webkit-animation-delay: 2501ms;
            animation-delay: 2501ms;
  }
  .shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
    -webkit-animation-delay: 2501ms;
            animation-delay: 2501ms;
  }
  .shooting_star:nth-child(17) {
    top: calc(50% - -69px);
    left: calc(50% - 288px);
    -webkit-animation-delay: 8447ms;
            animation-delay: 8447ms;
  }
  .shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
    -webkit-animation-delay: 8447ms;
            animation-delay: 8447ms;
  }
  .shooting_star:nth-child(18) {
    top: calc(50% - -142px);
    left: calc(50% - 104px);
    -webkit-animation-delay: 5454ms;
            animation-delay: 5454ms;
  }
  .shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
    -webkit-animation-delay: 5454ms;
            animation-delay: 5454ms;
  }
  .shooting_star:nth-child(19) {
    top: calc(50% - -99px);
    left: calc(50% - 221px);
    -webkit-animation-delay: 2638ms;
            animation-delay: 2638ms;
  }
  .shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
    -webkit-animation-delay: 2638ms;
            animation-delay: 2638ms;
  }
  .shooting_star:nth-child(20) {
    top: calc(50% - 7px);
    left: calc(50% - 159px);
    -webkit-animation-delay: 7130ms;
            animation-delay: 7130ms;
  }
  .shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
    -webkit-animation-delay: 7130ms;
            animation-delay: 7130ms;
  }




 
  @-webkit-keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @-webkit-keyframes sky {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }
  @keyframes sky {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }




footer .slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}



div.slide-track{
    display: flex;
    animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(100px  * 14);
    
 
}

.slider .slide{
 width: 100px;
 
}

.slider .slide img{
    width: 100%;
} 



.slide img.pollos{
    width: 65%;
}


@keyframes scroll{
   0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
   } 


   100% {
    -webkit-transform: translateX(calc(-100px * 7));
    transform: translateX(calc(-100px * 7));
} 




}




/*comentarios de las estrellas pero rosado */



.comentarios1
{
    color: #fafafa;
    position: relative;
    right: 20px;
    font-size: 25px;

    align-items: center;
    width: 350px;
    
    
    
}

.comentarios1 span.cmcaja{
    position: relative;
   
   }
   
   .comentarios1 span.cmcaja::before{
       content: "Colaboradores" ;
       color: rgba(255, 0, 200, 0.856);
       animation: words2 20s infinite;
      
      }

      .comentarios1 span.cmcaja::after{
    content: "" ;
    position: absolute;
    width: calc(100%+8px);
    height: 100%;
    background-color: rgb(27, 23, 27);
    border-left: 2px solid  rgba(252, 109, 221, 0.856) ;
    right: -8px;
   animation: cursor2 .50s infinite, typing2 30s  steps(14) infinite;
   }




   @keyframes cursor2{
    to{
        border-left: 2px solid  rgba(6, 5, 12, 0.7);
    }
   }


   @keyframes words2{

    0%,20%{
        content: "amigos";
    }
    21%,40%{
        content: "socios";
    }
    41%,60%{
        content: "empresas";
        
    }
    61%,80%{
        content: "corredores";
    }
    81%,100%{
        content: "voluntarios";
    }
   }


@keyframes typing2{

    10%,20%,35%,45%,55%,69%,82%,92%,97%{
        width: 0;
    }

    5%,20%,30%,40%,60%,80%,85%{
        width: calc(100% + 8px);
    }
}




.comentarios2
{
    color: #fafafa;
    position: relative;
    width: 700px;
    padding: 50px;
    height: auto;
    left: 200px;
    bottom: 20px ;
    
    
}


div .sliderc2{
  position: relative;
  right: 200px;
  width: 5700px;
 
  height: 800px;
  margin: auto;
  overflow: hidden;
  
 
  
}

.sliderc2 .slidec2{
  width: 650px;
  
 }
 
.sliderc2 .slidec2 img{
  width: 100%;
  padding: 70px;
  margin-top:-140px;
} 


 
.slidec2 img.c1img{
  position: relative;
  
  
}

 
.slidec2 img.c2img{
  position: relative;
  left: 75px;
  width: 110%;
}



div.slidec2-track{
 
  animation: scroll2 30s linear infinite;
  -webkit-animation: scroll2 30s linear infinite;
  height: calc(100px  * 7);
  

}

@keyframes scroll2{
  0% {
      opacity: 0.2;
       -webkit-transform: translateY(0);
       transform: translateY(0);
  } 


  15% {
    opacity: 0.7;
  
} 


50% {
  opacity: 0.9;

} 

  100% {
    opacity: 1;
   -webkit-transform: translateY(calc(-100px * 7));
   transform: translateY(calc(-100px * 7));
} 


}

















/*----- pantalla resolucion PARA sector 5 galeria de imagens ------*/

section.seccion-6{
  
  
  background-color: #ffffff  ;
  background: radial-gradient(ellipse at bottom, rgb(27, 23, 27) 0%, #090a0f 100%);
  
 

  
}


.subtitulogal{
  

  background-color: #ffffff  ;
  background: radial-gradient(ellipse at bottom, rgb(27, 23, 27) 0%, #090a0f 100%);
  
  padding: 90px;

}


section.seccion-6 div h1{
  color: rgb(255, 255, 255);
  text-align: center;
    font-size: 30px;
 

}

div.imagenesseccion6{
  columns: 3;
  padding: 16px 32px;
  column-gap: 32px;
}


section.seccion-6 img{
  border-radius: 4px;
  width: 100%;
  height: auto;
  margin-bottom: 32px;


  animation: reveal linear both;
  animation-timeline:  view();
  animation-range: entry 20% cover 40%;
}

@keyframes reveal{
  from{
    opacity: 0;
    translate: 0 100px;

  }

  to{
    opacity: 1;
    translate: 0 0;
  }

}






























































/*----- CSS para FORMULARIO---*/



/*----- Encabezado Contacto---*/


footer.form-header{

    display:flex;
    flex-direction: column;
    align-items: center;

}

.form-header{
    text-align: center;
  /*  background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 10px; */

    width: 98%;
    margin: 10px;
    padding: 50px;
}

.form-header h3,div.subtitulo{
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
}

/*----- Formulario ------*/

.formulario {

    background-color:rgba(204, 158, 216, 0.658);
    background: linear-gradient(to right, rgb(3, 3, 3), rgb(10, 7, 36), rgba(3, 0, 7, 0.589));
    
    backdrop-filter: sepia(80%);
    background-color: hsl(0, 55%, 6%); 
    border: 0.05px solid #11151a;
    border-radius: 20px;
  

    
    /* width: 80%;
    padding: 80px;
    margin: 30px 0 40px 0;*/

  }

  /*----- Campos del Formulario ------*/

  .form-row{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }


  .form-row label[for="nombre"],
  .form-row label[for="email"],
  .form-row label[for="mensaje"],
  .form-row label[for="pais"]
  {
    color: rgb(255, 255, 255);
  }


.form-row input[type="text"],
.form-row input[type="email"]
{
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}


/*--------
 #nombre{
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;

}
---*/

.form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }  
  


 .form-row textarea{
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    background-color: #bdbdbd;  
    border: 0;
    border-radius: 6px;


    min-height: 150px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;

    width: 100%;

    }

    .form-row button {
        font-size: 16px;
        font-weight: bold;
      
      
        color: #ffffff;
        background-color: #5995da;
      
      
        border: none;
        border-radius: 3px;
      
      
        padding: 10px 40px;
        cursor: pointer;
      }
      
      
      .form-row button:hover {
        background-color: #76aeed;
      }
      
      
      .form-row button:active {
        background-color: #407fc7;
      }
      
      


















/*-- patrocinadores-- */




      footer .slider{
       
        width: 75vw;
        height: auto;
        margin: auto;
        overflow: hidden;
        
    }
    
    
    
    div.slide-track{
        margin-top: 100px;
        display: flex;
        animation: scroll 50s linear infinite;
        -webkit-animation: scroll 50s linear infinite;
        width: calc(100px  * 14);
        
     
    }
    
    .slider .slide{
     width: 100px;
     
    }
    
    .slider .slide img{
        width: 100%;
    } 
    
    
    
    .slide img.pollos{
        width: 65%;
    }
    
    
    @keyframes scroll{
       0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
       } 
    
    
       100% {
        -webkit-transform: translateX(calc(-100px * 7));
        transform: translateX(calc(-100px * 7));
    } 
    
    }






















/*-- redes hacemos-- */
 
footer.reddes{
    
    padding: 4px ;
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    margin-top: 30px;
    
}

footer div h3{
    margin-top: 10px;
    text-align: center;
}

footer.reddes div nav {
    list-style: none;
    display: flex;
  
    justify-content: center;
    margin-top: 20px;
    
    }

footer.reddes div nav ul{
    list-style: none;
    display: flex;
  
    justify-content: space-around;
    
     flex-direction: row;
    
}


footer.reddes div nav ul li{

    margin-left: 24px;
}

footer.reddes div h3{
    color: rgb(255, 255, 255);
}

footer.reddes div nav ul li a{
   color: beige;
   font-size: 25px;
}

.logomovible {
    font-size: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
  }







/* MENU*/
#check{
    display: none;
}

.checkbtn{
    font-size: 25px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
   /* display: none;*/
   
}









  /* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
    /* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */
    header {
         background-color: #73AD21;
        
     }
     
     .checkbtn{
         display: block;
         
     }
 
     /*
     .segunda li{
         display: none;
     }
     */
 
 
     #encabezado ul{
         position: fixed;
         width: 100%;
         height: 100vh;
         background: #89927c;
         text-align: center;
 
         top: 80px;
         left: 100%;
         transition:all 0.5s;
         
         
     }
 
   
 
     #check:checked ~ ul{
         left: 0%;
         top:10%;
         display: block;
         
     }
 
     #encabezado nav ul li{
         display: block;
         margin: 50px 0;
         line-height: 30px;
     }
 
     #encabezado nav ul li a{
         font-size: 20px;
     }
 
     #check:checked ~ .checkbtn{
         color: darkorange;
     }
 
 
     div.acerca-imagen{
         position: relative; /*importanteeeeeeee */
         z-index: -1;
     }
 
     div.animadotext{
         position: relative; /*importanteeeeeeee */
         z-index: -1;
     }
     
 
 
    
     main section div.arreglocentro {
             display: flex;
             flex-wrap:wrap;
              
 
     }
 
     div.acerca-de{
 
         font-size: 11.5px;
         position:static;
         width: 300px;
     }
 
     div.acerca-de{
        height:auto ;
     }
 
 
 
     #imagenmunstag{
         width: 200px;
     }
 
     main section.seccion-3 {
        
         padding: 50px;
     }
     
     main section div.arreglocentro-seccion-3 {
         margin: 10px;
         display: flex; 
         flex-direction: column;
         flex-wrap:wrap;
     }
 
     /*
     .ss1parrafo {
         font-size: 10px;
         padding: 10px;
         width: 200px;
     }
     
 
     .s2{
 
         position: relative;
         top: 20px;
     }
 
     .ss2parrafo {
         font-size: 10px;
         padding: 10px;
         width: 200px;
     }
 
     .ss3parrafo {
         font-size: 10px;
         padding: 10px;
         width: 200px;
     }
     .s3{
 
         position: relative;
         top: 40px;
     }
 
     */
 
     
     .form-row{
         font-size: 20px;
         flex-direction:row;
         align-items: flex-start;
         margin-top: 5px;
         margin-bottom: 5px;
         margin-left: 10px;
         margin-right: 30px; 
         padding: 30 px;
         
     }
 
     .form-row input[type="email"]
     ,.form-row input[type="text"]{
      width: 250px;
      height: initial;
     
     }


     .form-row button{
        margin-left: 100px;
          
      }
 
   }


  

/*----- pantalla resolucion PARA FORMULARIO ------*/
@media (min-width: 700px){
    .form-header{

        margin-top: 120px;
        padding: 1px;
        

    }



    .form-row{
        flex-direction:row;
        align-items: flex-start;
        margin-top: 1px;
        margin-bottom: 1px;
        margin-left: 10px;
        margin-right: 30px;
        padding: 15px;
        
    }
  

     .form-row input[type="email"]
    ,.form-row input[type="text"]{
     width: 250px;
     height: initial;
    
    }

    .form-row label{
        text-align: right;
        width: 120px;
        margin-right: 7px;
        padding-right: 20px;
        
    }


    .form-row textarea{
        width: 250px;
    }
 
.form-row button{
  margin-left: 150px;
    
}


}




